/* basic reset */
body,
html {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient( #e1dbe5, #172e66 ) center center no-repeat fixed;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.title {
    font-size: 3em;
    margin: 0;
    text-align: center;
}

.shadowbox {
    background: rgba(0, 0, 0, 0.3);
}

/* ================================ controls =============================== */
.controls {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.controls > div {
    width: 180px;
    border-radius: .5em;
    display: inline-block;
    margin: 0;
    padding: 1em 2em;
}

.controls .btn,
.controls span {
    display: inline-block;
    font-size: 1.5em;
}

.controls .btn {
    box-sizing: border-box;
    line-height: 1em;
    width: 1em;
    border-radius: 50%;
}



/* ================================ session ================================ */
.session {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.session > p {
    display: block;
    width: 100%;
}

.reset {
    display: block;
    width: auto;
    transform: rotate(90deg)
}

.timer {
    margin: auto;
    display: inline-block;
    border-radius: 50%;
    display: inline-block;
    font-size: 8em;
    padding: .5em;
}


/* ================================= footer ================================ */
.belcurv-footer {
    padding: 1em;
    background: #404040;
    color: #999;
    text-align: center;
    font-size: 13px;
}

.belcurv-footer .footer-credit {
    vertical-align: middle;
}

.belcurv-footer .github-icon {
    display: inline-block;
    fill: rgb(255, 255, 255);
    vertical-align: middle;
}

.belcurv-footer a {
    color: white;
    text-decoration: none;
}

.belcurv-footer a:hover {
    text-decoration: underline;
}