/* basic reset */
body,
html {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient( #e1dbe5, #172e66 ) center center no-repeat fixed;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}

.title {
    font-size: 3em;
    margin: 0;
    text-align: center;
}

.shadowbox {
    background: rgba(0, 0, 0, 0.3);
}

/* ================================ controls =============================== */
.controls {
    width: 100%;
    text-align: center;
}

.controls > div {
    border-radius: .5em;
    display: inline-block;
    margin: 0;
    padding: 0 2em;
}

.controls > div > label,
.controls > div > input {
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0 0 20px black;
}

.controls > div > input {
    background: none;
    border: none;
    display: block;
    text-align: center;
    width: 100%;
}

/* ================================ session ================================ */
.session {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.session > p {
    display: block;
    width: 100%;
}

.timer {
    margin: 0;
    flex: 0 1 auto;
    display: inline-block;
    border-radius: 50%;
    display: inline-block;
    font-size: 8em;
    padding: .5em;
}


/* ================================= footer ================================ */
.belcurv-footer {
    padding: 0.85em 0;
    background: #404040;
    color: #999;
    text-align: center;
    font-size: 13px;
}

.belcurv-footer .footer-credit {
    vertical-align: middle;
}

.belcurv-footer .github-icon {
    display: inline-block;
    fill: rgb(255, 255, 255);
    vertical-align: middle;
}

.belcurv-footer a {
    color: white;
    text-decoration: none;
}

.belcurv-footer a:hover {
    text-decoration: underline;
}